### Exercise 1

In [ ]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd
pymysql.install_as_MySQLdb()
from sqlalchemy.orm import Session

from sqlalchemy import create_engine #Connect to database
from sqlalchemy.ext.declarative import declarative_base #Classes into Tables
from sqlalchemy import Column, Integer, String, Float #Declare column types

In [ ]:
connection_string = 'mysql://root:grant@localhost/pharma_drugs'

In [ ]:
engine = create_engine(connection_string)

In [ ]:
Base = declarative_base()

In [ ]:
class Prescription(Base):
    __tablename__ = 'drugs'
    id = Column(Integer, primary_key = True)
    name = Column(String(255))
    strength = Column(Integer)
    doses_per_admin = Column(Integer)
    route_of_admin = Column(String(255))
    total_qty_to_dispense = Column(Integer)
    refill_limit = Column(Integer)
    refill_freq = Column(String(255))

In [ ]:
amoxicillin = Prescription(name = 'Amoxicillin', 
                           strength = 25.5, 
                           doses_per_admin = 2, 
                           route_of_admin = 'Oral', 
                           total_qty_to_dispense = 120, 
                           refill_limit = 3, 
                           refill_freq = 'Monthly')

In [ ]:
endpoint = 'mysql://root:grant@localhost/pharma_drugs'

In [ ]:
engine = create_engine(endpoint)
conn = engine.connect()
Base.metadata.create_all(engine)

In [ ]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [ ]:
session.add(amoxicillin)
session.commit()

In [ ]:
session.query(Prescription).filter()

In [ ]:
amoxicillin_record = session.query(Prescription).filter_by(name = 'amoxicillin').one()

In [ ]:
amoxicillin_record.route_of_admin

In [ ]:
amoxicillin_record_1 = session.query(Prescription).filter(Prescription.name == 'amoxicillin').one()

In [ ]:
amoxicillin_record_1.name

In [ ]:
Base = declarative_base()
endpoint = 'mysql://root:grant@localhost/pharma_drugs'

In [ ]:
#Sharks
from sqlalchemy import create_engine
import pymysql
import pandas as pd
pymysql.install_as_MySQLdb()
from sqlalchemy.orm import Session
from sqlalchemy import create_engine #Connect to database
from sqlalchemy.ext.declarative import declarative_base #Classes into Tables
from sqlalchemy import Column, Integer, String, Float #Declare column types

In [ ]:
connection_string = 'mysql://root:grant@localhost/SharkSearch'

In [ ]:
engine = create_engine(connection_string)
Base = declarative_base()
session = Session(bind=engine)

In [ ]:
class Sharks(Base):
    __tablename__ = 'sharks'
    id = Column(Integer, primary_key = True)
    case_number = Column(String(12))
    date = Column(String(9))
    year = Column(Integer) 
    type = Column(String(12))
    country =  Column(String(13))
    area = Column(String(22))
    location = Column(String(45)) 
    activity = Column(String(51))
    name = Column(String(67))
    sex = Column(String(1))
    age = Column(Integer)
    injury = Column(String(106))
    fatal_y_n = Column(String(1))
    time = Column(String(14))
    species = Column(String(40))
    investigator_or_source = Column(String(58))
    pdf = Column(String(34))
    original_order = Column(Integer)

In [ ]:
record = session.query(Sharks).filter(Sharks.year > 1989).count()
record

In [ ]:
countires_list = session.query(Sharks)
for country in countires_list:
    print(country.location)

In [ ]:
provoked = session.query(Sharks).filter(Sharks.type == 'provoked').count()

In [ ]:
provoked

In [ ]:
num_usa = session.query(Sharks).filter(Sharks.country == 'USA').count()
num_usa

In [ ]:
num_aus = session.query(Sharks).filter(Sharks.country == 'Australia', Sharks.year == '2017', Sharks.type == 'fatal').count()
num_aus

Instructions:

Within a Python file, create new SQLAlchemy class called Garbage that holds the following values...

__tablename__: Should be "garbage_collection"

id: The primary key for the table that is an integer and automatically increments

item: A string that describes what kind of item was collected

weight: A double that explains how heavy the item is

collector: A string that lets users know which garbage man collected the item

Create a connection and a session before adding a few items into the SQLite database crafted.

Update the values within at least two of the rows added to the table.

Delete the row with the lowest weight from the table.

Print out all of the data within the database.

Bonus:

Modify the application so that items can be added, updated, queried, or removed according to user inputs.

In [1]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd
pymysql.install_as_MySQLdb()
from sqlalchemy.orm import Session
from sqlalchemy import create_engine #Connect to database
from sqlalchemy.ext.declarative import declarative_base #Classes into Tables
from sqlalchemy import Column, Integer, String, Float #Declare column types

Base = declarative_base()

In [2]:
from sqlalchemy.orm import Session
connection_string = 'sqlite:///garbage.sqlite'
engine = create_engine(connection_string)
session = Session(bind=engine)
Base.metadata.create_all(engine)

In [3]:
class Garbage(Base):
    __tablename__ = 'garbage_collection'
    id = Column(Integer, primary_key = True)
    item = Column(String)
    weight = Column(Integer)
    collector = Column(String)

In [7]:
records = session.query(Garbage)
for rec in records:
    print(rec.item)

Sofa
Broken TV

#### Tasks
* Update the values within at least two of the rows added to the table.
* Delete the row with the lowest weight from the table.
* Print out all of the data within the database.

* Modify the application so that items can be added, updated, queried, or removed according to user inputs.

In [8]:
session.add(Garbage(item = 'Rubber Bands', weight = 100, collector = 'Grant Aguinaldo'))
session.add(Garbage(item = 'Dead Fish', weight = 200, collector = 'Grant Aguinaldo'))

In [9]:
engine.execute('select * from garbage_collection').fetchall()

[(1, 'Sofa', 90.5, 'Jacob Deming'), (2, 'Broken TV', 11.25, 'Paul')]

In [10]:
session.new

IdentitySet([<__main__.Garbage object at 0x1110db748>, <__main__.Garbage object at 0x1110db588>])

In [11]:
session.commit

In [13]:
session.query(Garbage.id, Garbage.item, Garbage.weight, Garbage.collector).all()

[(1, 'Sofa', 90.5, 'Jacob Deming'),
 (2, 'Broken TV', 11.25, 'Paul'),
 (3, 'Rubber Bands', 100.0, 'Grant Aguinaldo'),
 (4, 'Dead Fish', 200.0, 'Grant Aguinaldo')]

In [17]:
del_garbage = session.query(Garbage).filter_by(weight = 11.25).delete()

In [18]:
session.commit()

In [19]:
session.query(Garbage.id, Garbage.item, Garbage.weight, Garbage.collector).all()

[(1, 'Sofa', 90.5, 'Jacob Deming'),
 (3, 'Rubber Bands', 100.0, 'Grant Aguinaldo'),
 (4, 'Dead Fish', 200.0, 'Grant Aguinaldo')]

In [55]:
import sqlalchemy 
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

In [56]:
engine = create_engine('sqlite:///demographics.sqlite')

In [57]:
Base = automap_base()

In [58]:
Base.prepare(engine, reflect = True)

In [59]:
Base.classes.keys()

['demographics']

In [60]:
demo = Base.classes.demographics

In [61]:
session = Session(engine)

In [62]:
first_row = session.query(demo).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x111321438>,
 'academic_degree': 'PhD',
 'age': 58,
 'children': 1,
 'height_meter': 1.87,
 'id': 0,
 'location': 'South Dakota',
 'occupation': 'Choreographer',
 'salary': 68,
 'weight_kg': 53.0}

In [63]:
first_row = session.query(demo).limit(10)

In [64]:
for each in first_row:
    print(each.age)

58
65
32
61
23
20
31
56
30
44

In [65]:
for row in session.query(demo.academic_degree, demo.age, demo.location, demo.occupation, demo.salary).limit(20).all():
    print(row)

('PhD', 58, 'South Dakota', 'Choreographer', 68)
('Bachelor', 65, 'Delaware', 'Cellarman', 73)
('Master', 32, 'South Dakota', 'Veterinary Surgeon', 69)
('PhD', 61, 'Louisiana', 'Hawker', 88)
('Bachelor', 23, 'West Virginia', 'Choreographer', 83)
('Bachelor', 20, 'South Dakota', 'Medical Physicist', 65)
('Master', 31, 'Louisiana', 'Weaver', 72)
('Master', 56, 'Louisiana', 'Lighthouse Keeper', 65)
('Master', 30, 'Louisiana', 'Millwright', 87)
('PhD', 44, 'West Virginia', 'Medical Supplier', 72)
('Bachelor', 55, 'South Dakota', 'Manicurist', 73)
('Bachelor', 66, 'Delaware', 'Window Dresser', 90)
('Master', 62, 'Alaska', 'Assistant', 78)
('Bachelor', 35, 'Delaware', 'Paramedic', 69)
('Master', 66, 'South Dakota', 'Genealogist', 75)
('PhD', 23, 'South Dakota', 'Servant', 77)
('Bachelor', 40, 'Louisiana', 'Technical Liaison', 76)
('PhD', 34, 'South Dakota', 'Scientist', 90)
('PhD', 64, 'Louisiana', 'Market Research', 79)
('PhD', 25, 'South Dakota', 'Medical Supplier', 77)

In [66]:
degree = session.query(demo).filter(demo.academic_degree == 'PhD').count()
degree

337

In [52]:
for each in degree:
    print(each.academic_degree)

PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD
PhD