In [2]:
# import dependencies
import pandas as pd

In [3]:
# Create a data frame with given columns and value
hey_arnold = pd.DataFrame(
    {"Character_in_show": ["Arnold", "Gerald", "Helga", "Phoebe", "Harold", "Eugene"],
     "color_of_hair": ["blonde", "black","blonde", "black", "unknown", "red"],
     "Height": ["average", "tallish", "tallish", "short", "tall", "short"],
     "Football_Shaped_Head": [True, False, False, False, False, False]
    })

hey_arnold.head()

  Character_in_show  Football_Shaped_Head   Height color_of_hair
0            Arnold                  True  average        blonde
1            Gerald                 False  tallish         black
2             Helga                 False  tallish        blonde
3            Phoebe                 False    short         black
4            Harold                 False     tall       unknown

In [19]:
# Rename columns to clean up the look

arnold_rename = hey_arnold.rename(columns={'Character_in_show': 'character', 
                           'Football_Shaped_Head': 'football_head', 
                           'Height': 'height', 
                           'color_of_hair': 'hair_color'
                          })
arnold_rename.head()

  character  football_head   height hair_color
0    Arnold           True  average     blonde
1    Gerald          False  tallish      black
2     Helga          False  tallish     blonde
3    Phoebe          False    short      black
4    Harold          False     tall    unknown

In [20]:
# Organize columns into a more logical order

arnold_reorder = arnold_rename[['character', 'height', 'hair_color', 'football_head']]
arnold_reorder

  character   height hair_color  football_head
0    Arnold  average     blonde           True
1    Gerald  tallish      black          False
2     Helga  tallish     blonde          False
3    Phoebe    short      black          False
4    Harold     tall    unknown          False
5    Eugene    short        red          False

In [22]:
# Export new data
arnold_reorder.to_csv('arnold_export.csv', index = False, encoding='utf-8')