In [1]:
import pandas as pd
import os
import glob
from datetime import datetime
import time
import matplotlib.pyplot as plt
import numpy as np
from math import sin, cos, sqrt, atan2, radians
%matplotlib inline

In [2]:
path = '/Users/gta/Desktop/bike_data'
all_files = glob.glob(os.path.join(path, "*.csv"))
df_from_each_file = (pd.read_csv(f) for f in all_files)
df = pd.concat(df_from_each_file, ignore_index=True)
df.shape

(2538743, 16)

In [39]:
#How many trips have been recorded total during the chosen period?
df.shape

(2538743, 16)

In [3]:
df_sample = df.sample(frac=1, replace=True)

In [4]:
df_sample.shape

(2538743, 16)

In [5]:
df_sample.columns.tolist()

['tripduration',
 'starttime',
 'stoptime',
 'start station id',
 'start station name',
 'start station latitude',
 'start station longitude',
 'end station id',
 'end station name',
 'end station latitude',
 'end station longitude',
 'bikeid',
 'name_localizedValue0',
 'usertype',
 'birth year',
 'gender']

In [6]:
df_sample.reset_index(drop=True)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender
0,2162,2018-03-18 05:38:03,2018-03-18 06:14:05,438,St Marks Pl & 1 Ave,40.727791,-73.985649,3587,Carroll St & Washington Ave,40.668674,-73.961815,32287,Annual Membership from Citi Bike App,Subscriber,1990.0,1
1,285,2018-03-05 15:42:02,2018-03-05 15:46:48,379,W 31 St & 7 Ave,40.749156,-73.991600,477,W 41 St & 8 Ave,40.756405,-73.990026,27468,FREE Bonus Month with Annual Membership,Subscriber,1978.0,1
2,416,2018-03-06 08:32:57,2018-03-06 08:39:53,528,2 Ave & E 31 St,40.742909,-73.977061,455,1 Ave & E 44 St,40.750020,-73.969053,17334,Annual Membership,Subscriber,1990.0,1
3,1436,2018-02-15 08:27:18,2018-02-15 08:51:15,508,W 46 St & 11 Ave,40.763414,-73.996674,357,E 11 St & Broadway,40.732618,-73.991580,17372,Annual Membership,Subscriber,1968.0,1
4,288,2018-03-01 23:19:09,2018-03-01 23:23:58,3060,Willoughby Ave & Tompkins Ave,40.694254,-73.946269,3064,Myrtle Ave & Lewis Ave,40.696820,-73.937569,30634,Annual Membership,Subscriber,1979.0,1
5,474,2018-01-17 09:44:24,2018-01-17 09:52:18,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,3078,Broadway & Roebling St,40.709248,-73.960631,30179,Annual Membership,Subscriber,1971.0,1
6,277,2018-03-22 07:11:02,2018-03-22 07:15:39,490,8 Ave & W 33 St,40.751551,-73.993934,529,W 42 St & 8 Ave,40.757570,-73.990985,30756,Annual Membership,Subscriber,1963.0,1
7,340,2018-02-24 20:45:05,2018-02-24 20:50:46,3569,Franklin Ave & St Marks Ave,40.675832,-73.956168,437,Macon St & Nostrand Ave,40.680983,-73.950048,18763,Annual Membership from Citi Bike App,Subscriber,1984.0,1
8,200,2018-03-22 09:11:14,2018-03-22 09:14:34,465,Broadway & W 41 St,40.755136,-73.986580,484,W 44 St & 5 Ave,40.755003,-73.980144,32186,Annual Membership,Subscriber,1985.0,1
9,958,2018-01-13 12:52:43,2018-01-13 13:08:41,3474,6 Ave & Spring St,40.725256,-74.004121,326,E 11 St & 1 Ave,40.729538,-73.984267,16140,Annual Membership,Subscriber,1992.0,1
10,330,2018-02-28 06:20:08,2018-02-28 06:25:38,3616,Steinway St & 28 Ave,40.765625,-73.913669,3572,34 Ave & 38 St,40.756913,-73.921631,31056,$25 Off Annual Membership,Subscriber,1963.0,2
11,775,2018-02-13 08:13:39,2018-02-13 08:26:34,3244,University Pl & E 8 St,40.731437,-73.994903,306,Cliff St & Fulton St,40.708235,-74.005301,31660,Annual Membership,Subscriber,1957.0,1
12,263,2018-03-23 07:54:57,2018-03-23 07:59:20,3563,28 St & 36 Ave,40.757186,-73.932719,3618,27 St & Hunter St,40.748500,-73.941275,33188,Annual Membership,Subscriber,1991.0,1
13,235,2018-02-05 11:50:34,2018-02-05 11:54:30,497,E 17 St & Broadway,40.737050,-73.990093,325,E 19 St & 3 Ave,40.736245,-73.984738,26744,Annual Membership,Subscriber,1955.0,1
14,305,2018-01-22 10:05:02,2018-01-22 10:10:07,3286,E 89 St & 3 Ave,40.780628,-73.952167,3362,Madison Ave & E 82 St,40.778131,-73.960694,19504,Annual Membership,Subscriber,1973.0,1
15,927,2018-02-21 18:08:37,2018-02-21 18:24:05,458,11 Ave & W 27 St,40.751396,-74.005226,450,W 49 St & 8 Ave,40.762272,-73.987882,31235,Annual Membership from Citi Bike App,Subscriber,1987.0,1
16,1518,2018-03-14 09:42:03,2018-03-14 10:07:22,331,Pike St & Monroe St,40.711731,-73.991930,405,Washington St & Gansevoort St,40.739323,-74.008119,31670,Annual Membership,Subscriber,1985.0,1
17,1265,2018-02-02 17:46:01,2018-02-02 18:07:07,376,John St & William St,40.708621,-74.007222,335,Washington Pl & Broadway,40.729039,-73.994046,18389,Annual Membership,Subscriber,1964.0,2
18,431,2018-03-28 18:23:06,2018-03-28 18:30:17,377,6 Ave & Canal St,40.722438,-74.005664,426,West St & Chambers St,40.717548,-74.013221,21327,Annual Membership,Subscriber,1984.0,1
19,493,2018-01-30 14:09:58,2018-01-30 14:18:11,407,Henry St & Poplar St,40.700469,-73.991454,407,Henry St & Poplar St,40.700469,-73.991454,25860,Annual Membership,Subscriber,1972.0,1
20,630,2018-01-15 09:48:23,2018-01-15 09:58:54,173,Broadway & W 49 St,40.760683,-73.984527,546,E 30 St & Park Ave S,40.744449,-73.983035,15314,FREE Bonus Month with Annual Membership,Subscriber,1990.0,1
21,341,2018-02-20 18:40:31,2018-02-20 18:46:13,402,Broadway & E 22 St,40.740343,-73.989551,383,Greenwich Ave & Charles St,40.735238,-74.000271,32099,Annual Membership,Subscriber,1991.0,1
22,452,2018-02-19 17:43:36,2018-02-19 17:51:09,295,Pike St & E Broadway,40.714067,-73.992939,150,E 2 St & Avenue C,40.720874,-73.980858,33422,Annual Membership,Subscriber,1961.0,1
23,662,2018-02-08 08:15:59,2018-02-08 08:27:01,3141,1 Ave & E 68 St,40.765005,-73.958185,359,E 47 St & Park Ave,40.755103,-73.974987,33319,Annual Membership,Subscriber,1989.0,1
24,72,2018-03-26 08:22:22,2018-03-26 08:23:34,265,Stanton St & Chrystie St,40.722293,-73.991475,312,Allen St & Stanton St,40.722055,-73.989111,30056,Annual Membership,Subscriber,1994.0,2
25,502,2018-02-15 08:23:14,2018-02-15 08:31:36,3635,W 36 St & 9 Ave,40.754623,-73.995168,458,11 Ave & W 27 St,40.751396,-74.005226,30690,Annual Membership,Subscriber,1978.0,1
26,98,2018-03-16 18:39:49,2018-03-16 18:41:28,293,Lafayette St & E 8 St,40.730207,-73.991026,438,St Marks Pl & 1 Ave,40.727791,-73.985649,16376,Annual Membership,Subscriber,1968.0,1
27,571,2018-02-08 08:34:00,2018-02-08 08:43:32,363,West Thames St,40.708347,-74.017134,328,Watts St & Greenwich St,40.724055,-74.009660,32703,Annual Membership,Subscriber,1954.0,1
28,333,2018-02-18 18:25:47,2018-02-18 18:31:21,531,Forsyth St & Broome St,40.718939,-73.992663,502,Henry St & Grand St,40.714215,-73.981346,30414,Annual Membership,Subscriber,1984.0,2
29,1423,2018-02-03 11:34:57,2018-02-03 11:58:41,453,W 22 St & 8 Ave,40.744751,-73.999154,146,Hudson St & Reade St,40.716250,-74.009106,19769,Annual Membership,Subscriber,1991.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2538713,923,2018-01-21 21:03:12,2018-01-21 21:18:35,236,St Marks Pl & 2 Ave,40.728419,-73.987140,462,W 22 St & 10 Ave,40.746920,-74.004519,15128,Annual Membership,Subscriber,1961.0,1
2538714,857,2018-02-28 08:33:38,2018-02-28 08:47:56,445,E 10 St & Avenue A,40.727408,-73.981420,379,W 31 St & 7 Ave,40.749156,-73.991600,33185,Annual Membership,Subscriber,1990.0,1
2538715,101,2018-02-19 17:08:14,2018-02-19 17:09:56,82,St James Pl & Pearl St,40.711174,-74.000165,2009,Catherine St & Monroe St,40.711174,-73.996826,16742,Annual Membership,Subscriber,1978.0,1
2538716,334,2018-03-13 09:49:16,2018-03-13 09:54:50,3095,Graham Ave & Herbert St,40.719293,-73.945004,3087,Metropolitan Ave & Meeker Ave,40.714133,-73.952344,32785,Annual Membership,Subscriber,1962.0,1
2538717,287,2018-02-14 17:54:37,2018-02-14 17:59:24,3507,Park Ave & E 124 St,40.804555,-73.939686,3509,Lenox Ave & W 115 St,40.801194,-73.950074,29832,Annual Membership,Subscriber,1978.0,1
2538718,1014,2018-02-22 14:33:10,2018-02-22 14:50:05,514,12 Ave & W 40 St,40.760875,-74.002777,537,Lexington Ave & E 24 St,40.740259,-73.984092,27146,Annual Membership,Subscriber,1989.0,1
2538719,303,2018-03-12 06:38:14,2018-03-12 06:43:17,484,W 44 St & 5 Ave,40.755003,-73.980144,379,W 31 St & 7 Ave,40.749156,-73.991600,29323,Annual Membership,Subscriber,1977.0,1
2538720,328,2018-03-01 06:50:24,2018-03-01 06:55:52,527,E 33 St & 2 Ave,40.744023,-73.976056,174,E 25 St & 1 Ave,40.738177,-73.977387,31128,Annual Membership,Subscriber,1991.0,1
2538721,171,2018-03-20 08:27:14,2018-03-20 08:30:06,2012,E 27 St & 1 Ave,40.739445,-73.976806,501,FDR Drive & E 35 St,40.744219,-73.971212,31417,Annual Membership,Subscriber,1984.0,1
2538722,573,2018-02-18 09:07:45,2018-02-18 09:17:18,3403,4 Ave & 9 St,40.670513,-73.988766,3388,President St & Henry St,40.682800,-73.999904,19580,Annual Membership,Subscriber,1987.0,1
2538723,918,2018-01-25 08:37:40,2018-01-25 08:52:59,482,W 15 St & 7 Ave,40.739355,-73.999318,3443,W 52 St & 6 Ave,40.761330,-73.979820,15134,Annual Membership,Subscriber,1983.0,1
2538724,496,2018-01-26 18:26:17,2018-01-26 18:34:34,359,E 47 St & Park Ave,40.755103,-73.974987,495,W 47 St & 10 Ave,40.762699,-73.993012,30008,Annual Membership from Citi Bike App,Subscriber,1987.0,1
2538725,1697,2018-01-29 19:54:20,2018-01-29 20:22:38,490,8 Ave & W 33 St,40.751551,-73.993934,426,West St & Chambers St,40.717548,-74.013221,32033,Annual Membership,Subscriber,1965.0,1
2538726,299,2018-03-09 20:08:13,2018-03-09 20:13:13,3472,W 15 St & 10 Ave,40.742754,-74.007474,223,W 13 St & 7 Ave,40.737815,-73.999947,20183,Annual Membership,Subscriber,1961.0,1
2538727,447,2018-01-11 20:29:11,2018-01-11 20:36:39,3362,Madison Ave & E 82 St,40.778131,-73.960694,3375,3 Ave & E 72 St,40.769943,-73.960607,32888,Annual Membership from Citi Bike App,Subscriber,1975.0,1
2538728,242,2018-02-04 11:05:39,2018-02-04 11:09:41,3105,N 15 St & Wythe Ave,40.724055,-73.955736,3116,Huron St & Franklin St,40.732660,-73.958260,30906,Annual Membership,Subscriber,1987.0,1
2538729,886,2018-02-24 20:46:35,2018-02-24 21:01:22,3539,W 116 St & Amsterdam Ave,40.806758,-73.960708,3285,W 87 St & Amsterdam Ave,40.788390,-73.974700,19383,Annual Membership,Subscriber,1988.0,1
2538730,302,2018-02-16 05:45:26,2018-02-16 05:50:28,422,W 59 St & 10 Ave,40.770513,-73.988038,469,Broadway & W 53 St,40.763441,-73.982681,33110,Annual Membership,Subscriber,1989.0,1
2538731,434,2018-03-01 18:01:14,2018-03-01 18:08:28,350,Clinton St & Grand St,40.715595,-73.987030,439,E 4 St & 2 Ave,40.726281,-73.989780,32817,Join Citi Bike for $14.95/month,Subscriber,1989.0,1
2538732,378,2018-03-16 15:47:03,2018-03-16 15:53:22,3443,W 52 St & 6 Ave,40.761330,-73.979820,477,W 41 St & 8 Ave,40.756405,-73.990026,29323,Annual Membership,Subscriber,1967.0,1
2538733,425,2018-02-24 14:33:10,2018-02-24 14:40:15,399,Lafayette Ave & St James Pl,40.688515,-73.964763,3057,Kosciuszko St & Tompkins Ave,40.691283,-73.945242,19354,Annual Membership,Subscriber,1985.0,1
2538734,629,2018-02-06 12:59:29,2018-02-06 13:09:59,3132,E 59 St & Madison Ave,40.763505,-73.971092,484,W 44 St & 5 Ave,40.755003,-73.980144,32639,Annual Membership,Subscriber,1977.0,1
2538735,2635,2018-01-23 19:06:15,2018-01-23 19:50:10,317,E 6 St & Avenue B,40.724537,-73.981854,433,E 13 St & Avenue A,40.729554,-73.980572,26591,Annual Membership,Subscriber,1992.0,2
2538736,385,2018-02-06 16:43:31,2018-02-06 16:49:56,342,Columbia St & Rivington St,40.717400,-73.980166,531,Forsyth St & Broome St,40.718939,-73.992663,30514,NYCHA Membership (Renewal),Subscriber,2001.0,1
2538737,637,2018-03-03 10:41:19,2018-03-03 10:51:57,3324,3 Ave & 14 St,40.668546,-73.993333,3478,2 Ave & 36 St - Citi Bike HQ at Industry City,40.657089,-74.008702,17445,$25 Off Annual Membership,Subscriber,1985.0,2
2538738,207,2018-01-22 05:50:16,2018-01-22 05:53:44,3463,E 16 St & Irving Pl,40.735367,-73.987974,491,E 24 St & Park Ave S,40.740964,-73.986022,31225,Annual Membership,Subscriber,1991.0,2
2538739,1740,2018-03-24 17:22:58,2018-03-24 17:51:59,3162,W 78 St & Broadway,40.783400,-73.980931,3458,W 55 St & 6 Ave,40.763094,-73.978350,18764,3 Day,Customer,NaN,0
2538740,315,2018-02-14 05:54:47,2018-02-14 06:00:03,476,E 31 St & 3 Ave,40.743943,-73.979661,440,E 45 St & 3 Ave,40.752554,-73.972826,18723,Annual Membership,Subscriber,1980.0,1
2538741,390,2018-03-03 15:05:33,2018-03-03 15:12:03,217,Old Fulton St,40.702772,-73.993836,157,Henry St & Atlantic Ave,40.690893,-73.996123,25802,Annual Membership,Subscriber,1987.0,1
2538742,490,2018-03-13 20:32:39,2018-03-13 20:40:50,3258,W 27 St & 10 Ave,40.750182,-74.002184,168,W 18 St & 6 Ave,40.739713,-73.994564,26610,Annual Membership,Subscriber,1955.0,1

In [7]:
df_sample['hour'] = ''
df_sample['month'] = ''
df_sample['year'] = ''
df_sample['day_of_week'] = ''
df_sample['distance_miles'] = ''

In [8]:
df_sample.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,bikeid,name_localizedValue0,usertype,birth year,gender,hour,month,year,day_of_week,distance_miles
1227005,2162,2018-03-18 05:38:03,2018-03-18 06:14:05,438,St Marks Pl & 1 Ave,40.727791,-73.985649,3587,Carroll St & Washington Ave,40.668674,...,32287,Annual Membership from Citi Bike App,Subscriber,1990.0,1,,,,,
844632,285,2018-03-05 15:42:02,2018-03-05 15:46:48,379,W 31 St & 7 Ave,40.749156,-73.991600,477,W 41 St & 8 Ave,40.756405,...,27468,FREE Bonus Month with Annual Membership,Subscriber,1978.0,1,,,,,
869266,416,2018-03-06 08:32:57,2018-03-06 08:39:53,528,2 Ave & E 31 St,40.742909,-73.977061,455,1 Ave & E 44 St,40.750020,...,17334,Annual Membership,Subscriber,1990.0,1,,,,,
2073168,1436,2018-02-15 08:27:18,2018-02-15 08:51:15,508,W 46 St & 11 Ave,40.763414,-73.996674,357,E 11 St & Broadway,40.732618,...,17372,Annual Membership,Subscriber,1968.0,1,,,,,
764490,288,2018-03-01 23:19:09,2018-03-01 23:23:58,3060,Willoughby Ave & Tompkins Ave,40.694254,-73.946269,3064,Myrtle Ave & Lewis Ave,40.696820,...,30634,Annual Membership,Subscriber,1979.0,1,,,,,

In [9]:
def distance_latlong(d):
    R = 6373
    lat1_r = radians(d['start station latitude'])
    lon1_r = radians(d['start station longitude'])
    lat2_r = radians(d['end station latitude'])
    lon2_r = radians(d['end station longitude'])
    
    dlon_r = lon2_r - lon1_r
    dlat_r = lat2_r - lat1_r
    
    a = sin(dlat_r / 2)**2 + cos(lat1_r) * cos(lat2_r) * sin(dlon_r / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    
    distance = R * c * 0.621371
    return distance

In [10]:
df_sample['distance_miles'] = df_sample.apply(distance_latlong, axis=1)
df_sample['hour'] = df_sample['starttime'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S').hour)
df_sample['month'] = df_sample['starttime'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S').month)
df_sample['year'] = df_sample['starttime'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S').year)
df_sample['day_of_week'] = df_sample['starttime'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S').weekday())

In [11]:
df_sample.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,bikeid,name_localizedValue0,usertype,birth year,gender,hour,month,year,day_of_week,distance_miles
1227005,2162,2018-03-18 05:38:03,2018-03-18 06:14:05,438,St Marks Pl & 1 Ave,40.727791,-73.985649,3587,Carroll St & Washington Ave,40.668674,...,32287,Annual Membership from Citi Bike App,Subscriber,1990.0,1,5,3,2018,6,4.272481
844632,285,2018-03-05 15:42:02,2018-03-05 15:46:48,379,W 31 St & 7 Ave,40.749156,-73.991600,477,W 41 St & 8 Ave,40.756405,...,27468,FREE Bonus Month with Annual Membership,Subscriber,1978.0,1,15,3,2018,0,0.507778
869266,416,2018-03-06 08:32:57,2018-03-06 08:39:53,528,2 Ave & E 31 St,40.742909,-73.977061,455,1 Ave & E 44 St,40.750020,...,17334,Annual Membership,Subscriber,1990.0,1,8,3,2018,1,0.646022
2073168,1436,2018-02-15 08:27:18,2018-02-15 08:51:15,508,W 46 St & 11 Ave,40.763414,-73.996674,357,E 11 St & Broadway,40.732618,...,17372,Annual Membership,Subscriber,1968.0,1,8,2,2018,3,2.145107
764490,288,2018-03-01 23:19:09,2018-03-01 23:23:58,3060,Willoughby Ave & Tompkins Ave,40.694254,-73.946269,3064,Myrtle Ave & Lewis Ave,40.696820,...,30634,Annual Membership,Subscriber,1979.0,1,23,3,2018,3,0.489162

In [12]:
workday_df = df_sample[['day_of_week', 'tripduration']].groupby(['day_of_week'], as_index=False).count()
workday_df

   day_of_week  tripduration
0            0        397398
1            1        436547
2            2        387255
3            3        412078
4            4        354759
5            5        320420
6            6        230286

In [13]:
month_df = df_sample[['month', 'tripduration']].groupby(['month'], as_index=False).count()
month_df

   month  tripduration
0      1        717774
1      2        843381
2      3        977588

In [44]:
#By what percentage has total ridership grown?
((month_df['tripduration'][2] - month_df['tripduration'][0]) / month_df['tripduration'][0]) * 100

36.197187415537478

In [14]:
hour_df = df_sample[['hour', 'tripduration']].groupby(['hour'], as_index=False).count()
hour_df

    hour  tripduration
0      0         18101
1      1          9875
2      2          5471
3      3          3738
4      4          4126
5      5         18458
6      6         59826
7      7        126338
8      8        227939
9      9        174339
10    10        115724
11    11        117730
12    12        136150
13    13        141675
14    14        147551
15    15        155109
16    16        179268
17    17        250187
18    18        235130
19    19        155844
20    20        102191
21    21         70591
22    22         50994
23    23         32388

In [15]:
df_sample[['start station id', 
           'tripduration',]].groupby('start station id', 
                                                        as_index=False).count().sort_values(by='tripduration', 
                                                                                            ascending=False).head(10)

     start station id  tripduration
256               519         27394
185               435         17088
159               402         16584
238               497         16257
434              3255         16070
232               490         15144
66                285         14554
221               477         14450
259               523         13757
206               459         13303

In [16]:
df_sample[['start station id', 
           'tripduration',]].groupby('start station id', 
                                                        as_index=False).count().sort_values(by='tripduration', 
                                                                                            ascending=False).tail(10)

     start station id  tripduration
757              3650            50
580              3432            42
611              3487            14
771              3672             4
609              3485             3
292              3040             2
433              3250             1
431              3245             1
181               428             1
714              3594             1

In [17]:
df_sample[['end station id', 
           'tripduration',]].groupby('end station id', 
                                                        as_index=False).count().sort_values(by='tripduration', 
                                                                                            ascending=False).head(10)

     end station id  tripduration
256             519         27518
238             497         17716
159             402         17685
185             435         17477
437            3255         16418
232             490         15340
221             477         14769
66              285         14722
206             459         14583
259             523         14005

In [18]:
df_sample[['end station id', 
           'tripduration',]].groupby('end station id', 
                                                        as_index=False).count().sort_values(by='tripduration', 
                                                                                            ascending=False).tail(10)

     end station id  tripduration
292            3040             3
429            3240             3
778            3672             3
443            3267             2
436            3250             2
181             428             2
614            3481             2
764            3652             1
581            3428             1
417            3214             1

In [19]:
df_sample[['start station id', 'gender',]].groupby('gender', as_index=False).count()

   gender  start station id
0       0            130805
1       1           1862081
2       2            545857

In [20]:
df_sample[['start station id', 'bikeid',]].groupby('bikeid', as_index=False).count().sort_values(by='start station id', 
                                                                                            ascending=False).head(10)

       bikeid  start station id
11048   32239               610
11319   32517               609
10721   31851               601
9660    30624               589
10793   31980               581
10874   32061               578
10871   32058               577
11904   33121               575
10902   32090               573
10455   31453               566

In [21]:
df_sample['age'] = 2018 - df_sample['birth year']

In [22]:
df_sample.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,name_localizedValue0,usertype,birth year,gender,hour,month,year,day_of_week,distance_miles,age
1227005,2162,2018-03-18 05:38:03,2018-03-18 06:14:05,438,St Marks Pl & 1 Ave,40.727791,-73.985649,3587,Carroll St & Washington Ave,40.668674,...,Annual Membership from Citi Bike App,Subscriber,1990.0,1,5,3,2018,6,4.272481,28.0
844632,285,2018-03-05 15:42:02,2018-03-05 15:46:48,379,W 31 St & 7 Ave,40.749156,-73.991600,477,W 41 St & 8 Ave,40.756405,...,FREE Bonus Month with Annual Membership,Subscriber,1978.0,1,15,3,2018,0,0.507778,40.0
869266,416,2018-03-06 08:32:57,2018-03-06 08:39:53,528,2 Ave & E 31 St,40.742909,-73.977061,455,1 Ave & E 44 St,40.750020,...,Annual Membership,Subscriber,1990.0,1,8,3,2018,1,0.646022,28.0
2073168,1436,2018-02-15 08:27:18,2018-02-15 08:51:15,508,W 46 St & 11 Ave,40.763414,-73.996674,357,E 11 St & Broadway,40.732618,...,Annual Membership,Subscriber,1968.0,1,8,2,2018,3,2.145107,50.0
764490,288,2018-03-01 23:19:09,2018-03-01 23:23:58,3060,Willoughby Ave & Tompkins Ave,40.694254,-73.946269,3064,Myrtle Ave & Lewis Ave,40.696820,...,Annual Membership,Subscriber,1979.0,1,23,3,2018,3,0.489162,39.0

In [23]:
df_sample['tripduration'].describe()

count    2.538743e+06
mean     7.707625e+02
std      7.186954e+03
min      6.100000e+01
25%      3.210000e+02
50%      5.210000e+02
75%      8.740000e+02
max      4.421929e+06
Name: tripduration, dtype: float64

In [24]:
percent_cuts_duration = np.percentile(df_sample['tripduration'], [0, 25, 75, 90, 100])
percent_cuts_miles = np.percentile(df_sample['distance_miles'], [0, 25, 75, 90, 100])

In [25]:
df_sample['bin_duration'] = pd.cut(df_sample['tripduration'], percent_cuts_duration, labels=['short', 'medium', 'long', 'extralong'])
df_sample['bin_distance'] = pd.cut(df_sample['distance_miles'], percent_cuts_miles, labels=['short', 'medium', 'long', 'extralong'])

In [48]:
df_sample.to_csv('output.csv', index=False)

In [27]:
df_sample[['bin_duration', 'bikeid']].groupby('bin_duration').count()

               bikeid
bin_duration
short          637507
medium        1266212
long           380964
extralong      253680

In [28]:
df_sample[['bin_distance', 'bikeid']].groupby('bin_distance').count()

               bikeid
bin_distance
short          599157
medium        1269282
long           380808
extralong      253872

In [29]:
membership_list = df_sample['name_localizedValue0'].unique().tolist()

In [30]:
membership_list

['Annual Membership from Citi Bike App',
 'FREE Bonus Month with Annual Membership',
 'Annual Membership',
 '$25 Off Annual Membership',
 'Annual Membership - Save 15%',
 'Join Citi Bike for $14.95/month',
 '24 Hour',
 'NYCBS Employee',
 'NYCHA Membership (Renewal)',
 '3-Day Pass from Citi Bike App',
 'NYCHA Membership',
 'CDCU',
 'Day Pass',
 'Single Ride',
 '3 Day',
 'Motivate Employee',
 '$99 Annual Membership',
 'CDCU (renewal)',
 'JCBS Employee',
 'Annual Membership - Save $25 to Celebrate Expansion',
 'Partner',
 'Single Ride POS',
 'Annual Other',
 'NYCHA POS',
 '$50 Off Annual Membership',
 'Citi Bike 30-Day Trial Plus $25 Off!',
 '$35 Off Annual Membership',
 'Join Citi Bike for $14/month',
 'Hourly Pass',
 'JCHA Annual Membership $5/month',
 'Join Citi Bike for $12.95/month',
 '24 Hour from Citi Bike Squad',
 '$60 Partial Subsidy Annual Membership',
 '$99 Annual Membership for Zipcar members',
 'Annual Membership - 10% Off',
 'NYCHA Free 6 Months',
 'Citi Bike for Business Annual Membership',
 'Two-Week Free Trial',
 'Annual Membership for Related Rentals residents',
 '24 Hour from Citi Bike Squad - $12/hour']

In [31]:
df_sample[['name_localizedValue0', 'bikeid']].groupby('name_localizedValue0', as_index=False).count().sort_values(by='bikeid', ascending=False)

                                 name_localizedValue0   bikeid
11                                  Annual Membership  1777870
0                           $25 Off Annual Membership   174032
16               Annual Membership from Citi Bike App   172301
28                    Join Citi Bike for $14.95/month   135770
6                                             24 Hour    74059
23            FREE Bonus Month with Annual Membership    45011
34                         NYCHA Membership (Renewal)    40693
14                       Annual Membership - Save 15%    28799
22                                           Day Pass    20008
33                                   NYCHA Membership    19578
9                                               3 Day    11920
18                                               CDCU    10798
10                      3-Day Pass from Citi Bike App     7537
31                                     NYCBS Employee     5416
19                                     CDCU (renewal)     4726
4                               $99 Annual Membership     2235
30                                  Motivate Employee     1990
13  Annual Membership - Save $25 to Celebrate Expa...     1630
20               Citi Bike 30-Day Trial Plus $25 Off!     1004
35                                          NYCHA POS      606
2                           $50 Off Annual Membership      586
1                           $35 Off Annual Membership      347
37                                        Single Ride      262
38                                    Single Ride POS      256
27                    Join Citi Bike for $12.95/month      203
17                                       Annual Other      198
29                       Join Citi Bike for $14/month      175
5            $99 Annual Membership for Zipcar members      156
26                    JCHA Annual Membership $5/month      154
36                                            Partner       95
25                                      JCBS Employee       82
7                        24 Hour from Citi Bike Squad       73
12                        Annual Membership - 10% Off       65
3               $60 Partial Subsidy Annual Membership       46
24                                        Hourly Pass       25
32                                NYCHA Free 6 Months       15
15    Annual Membership for Related Rentals residents       11
21           Citi Bike for Business Annual Membership        7
39                                Two-Week Free Trial        3
8             24 Hour from Citi Bike Squad - $12/hour        1

In [32]:
df_sample['name_localizedValue0'].isnull().sum()

0

In [33]:
df_sample.shape

(2538743, 24)

In [34]:
df_sample[['usertype', 'bikeid', 'gender']].groupby(['usertype', 'gender']).count()

                    bikeid
usertype   gender
Customer   0         87013
           1         15885
           2         11243
Subscriber 0         43792
           1       1846196
           2        534614

In [46]:
df_sample[['usertype', 'bikeid', 'month']].groupby(['usertype', 'month']).count()

                  bikeid
usertype   month
Customer   1       21851
           2       33248
           3       59042
Subscriber 1      695923
           2      810133
           3      918546

In [35]:
df_subscriber = df_sample[df_sample['usertype'] == 'Subscriber']
df_subscriber['name_localizedValue0'].unique()

array(['Annual Membership from Citi Bike App',
       'FREE Bonus Month with Annual Membership', 'Annual Membership',
       '$25 Off Annual Membership', 'Annual Membership - Save 15%',
       'Join Citi Bike for $14.95/month', 'NYCBS Employee',
       'NYCHA Membership (Renewal)', 'NYCHA Membership', 'CDCU',
       'Motivate Employee', '$99 Annual Membership', 'CDCU (renewal)',
       'JCBS Employee',
       'Annual Membership - Save $25 to Celebrate Expansion', 'Partner',
       'Annual Other', 'NYCHA POS', '$50 Off Annual Membership',
       'Citi Bike 30-Day Trial Plus $25 Off!', '$35 Off Annual Membership',
       'Join Citi Bike for $14/month', 'JCHA Annual Membership $5/month',
       'Join Citi Bike for $12.95/month',
       '$60 Partial Subsidy Annual Membership',
       '$99 Annual Membership for Zipcar members',
       'Annual Membership - 10% Off', 'NYCHA Free 6 Months',
       'Citi Bike for Business Annual Membership', 'Two-Week Free Trial',
       'Annual Membership for Related Rentals residents'], dtype=object)

In [36]:
df_customer = df_sample[df_sample['usertype'] == 'Customer']

In [37]:
df_customer['name_localizedValue0'].unique()

array(['24 Hour', '3-Day Pass from Citi Bike App', 'Day Pass',
       'Single Ride', '3 Day', 'Single Ride POS', 'Hourly Pass',
       '24 Hour from Citi Bike Squad',
       '24 Hour from Citi Bike Squad - $12/hour'], dtype=object)