In [1]:
#Standard Imports 
import pandas as pd

In [4]:
#Read in file into a dataframe and display head.

file = '/Users/gta/dev/books.csv'
df = pd.read_csv(file)
df.head()

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [7]:
#Determine shape of dataframe (100000 rows and 23 columns)

df.shape

(10000, 23)

In [8]:
#Determine the column headings for the dataset.

df.columns

Index(['id', 'book_id', 'best_book_id', 'work_id', 'books_count', 'isbn',
       'isbn13', 'authors', 'original_publication_year', 'original_title',
       'title', 'language_code', 'average_rating', 'ratings_count',
       'work_ratings_count', 'work_text_reviews_count', 'ratings_1',
       'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5', 'image_url',
       'small_image_url'],
      dtype='object')

In [22]:
# Calculate the number of unique authors in the DataFrame

num_authors = len(df['authors'].unique())
print("Total Number of Unique Authors: ", num_authors)

Total Number of Unique Authors:  4664

In [21]:
# Calculate the earliest/latest year a book was published
earliest_year = min(df['original_publication_year'])
latest_year = max(df['original_publication_year'])
print("Earliest Year: ", earliest_year)
print("Latest Year: ", latest_year)

Earliest Year:  -1750.0
Latest Year:  2017.0

In [36]:
# Calculate the total reviews for the entire dataset
total = df[['ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5']]
total_num_reviews = total.values.sum()
print("Total Number of Reviews: ", total_num_reviews)


# Place all of the data found into a summary DataFrame

Total Number of Reviews:  596873216

In [57]:
summary_df = pd.DataFrame(
                    {"Total Number of Unique Authors":num_authors, 
                    "Earliest Year":earliest_year,
                    "Latest Year": latest_year,
                    "Total Number of Reviews": total_num_reviews}, 
                    index=[0]
                        )
summary_df

,Earliest Year,Latest Year,Total Number of Reviews,Total Number of Unique Authors
0,-1750.0,2017.0,596873216,4664

In [62]:
#Determine the weighted average number of stars for each book.

#Step 1: Determine the weight factor for each book. 

df['weight_factor'] =   ((1 * df['ratings_1']) + 
                        (2 * df['ratings_2']) + 
                        (3 * df['ratings_3']) +
                        (4 * df['ratings_4']) +
                        (5 * df['ratings_5']))

In [63]:
#Step 2: Determine the total number of reviews for each book.

df['total_num_ratings'] =   ((df['ratings_1']) + 
                            (df['ratings_2']) + 
                            (df['ratings_3']) +
                            (df['ratings_4']) +
                            (df['ratings_5']))

In [64]:
#Step 3:  Determine the weighted average.

df['weighted_average'] = df['weight_factor'] / df['total_num_ratings']

In [76]:
#Step 4: Create new dataframe with the title of the book and the average rating

ave_df = df[['original_title', "weighted_average"]]

#Sort dataframe to afford the 10 books with the higest rating
ave_df.sort_values(by = ['weighted_average'], ascending = False).head(10)

                                         original_title  weighted_average
3627                     The Complete Calvin and Hobbes          4.818306
3274                                                NaN          4.772349
861                                   Words of Radiance          4.765142
7946                                                NaN          4.763724
8853                           Mark of the Lion Trilogy          4.759087
4482  It's a Magical World: A Calvin and Hobbes Coll...          4.754492
6360  There's Treasure Everywhere: A Calvin and Hobb...          4.740989
421                     Complete Harry Potter Boxed Set          4.740448
6919  The Indispensable Calvin and Hobbes: A Calvin ...          4.730176
3752       Harry Potter Collection (Harry Potter, #1-6)          4.727754

In [78]:
#Sort dataframe to afford the 10 books with the lowest rating

ave_df.sort_values(by = ['weighted_average'], ascending = False).tail(10)

                              original_title  weighted_average
4613                  The Emperor's Children          2.929290
8959                           The Red House          2.927450
4282  Revenge Wears Prada: The Devil Returns          2.844451
8873                                Tell-All          2.839349
8165        Parmi les dix milliers de choses          2.839185
9020                                    Lost          2.804746
4008                            Four Blondes          2.800275
8006                    The Finkler Question          2.764052
3549                         The Almost Moon          2.670301
1792             One Night @ The Call Center          2.467669