In [4]:
# Import Dependencies
import pandas as pd

In [30]:
#Create data frame of paintings, price and popularity.

In [28]:
# Create a DataFrame of paintings using a list of dictionaries

data1 = [   {'Piece': 'Mona Lisa','Popularity': 'Above Average', 'Price': 100},
            {'Piece': 'Madonna on the Rock','Popularity': 'Average','Price': 200},
            {'Piece': "Night Watch", 'Popularity': 'Below Average', 'Price': 300}]

df1 = pd.DataFrame(data1)
df1

                 Piece     Popularity  Price
0            Mona Lisa  Above Average    100
1  Madonna on the Rock        Average    200
2          Night Watch  Below Average    300

In [29]:
# Create a DataFrame of frames using a dictionary of lists

data2 = {
            'price': [100, 200, 300],
            'popularity': ['Above Average', 'Average', 'Below Average'],
            'piece': ['Mona Lisa', 'Madonna on the Rock', 'Night Watch']
        }

In [26]:
df2 = pd.DataFrame(data2)
df2

                 piece     popularity  price
0            Mona Lisa  Above Average    100
1  Madonna on the Rock        Average    200
2          Night Watch  Below Average    300