# Instructions

Read the OMDb documentation, and make a few API calls to
get some information about your favorite movie.

You are free to duplicate the demonstration, or explore
more freely, as you wish. Just be sure to print two or three
properties of the JSON you retrieve.

In [1]:
import requests as r
import json
import pandas as pd

In [2]:
api_key = '7c44b61b'
url = 'http://www.omdbapi.com/?'

In [3]:
movie_name = 'titanic'

In [4]:
query_url = url + 'apikey=' + api_key + '&' + 't=' + movie_name
query_url

'http://www.omdbapi.com/?apikey=7c44b61b&t=titanic'

In [5]:
response = r.get(query_url)
response

In [6]:
json_data = response.json()
json_data

{'Actors': 'Leonardo DiCaprio, Kate Winslet, Billy Zane, Kathy Bates',
 'Awards': 'Won 11 Oscars. Another 110 wins & 75 nominations.',
 'BoxOffice': 'N/A',
 'Country': 'USA',
 'DVD': '10 Sep 2012',
 'Director': 'James Cameron',
 'Genre': 'Drama, Romance',
 'Language': 'English, Swedish',
 'Metascore': '74',
 'Plot': 'A seventeen-year-old aristocrat falls in love with a kind but poor artist aboard the luxurious, ill-fated R.M.S. Titanic.',
 'Poster': 'https://images-na.ssl-images-amazon.com/images/M/MV5BMDdmZGU3NDQtY2E5My00ZTliLWIzOTUtMTY4ZGI1YjdiNjk3XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_SX300.jpg',
 'Production': 'Paramount Pictures',
 'Rated': 'PG-13',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.8/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '88%'},
  {'Source': 'Metacritic', 'Value': '74/100'}],
 'Released': '19 Dec 1997',
 'Response': 'True',
 'Runtime': '194 min',
 'Title': 'Titanic',
 'Type': 'movie',
 'Website': 'http://www.titanicmovie.com/',
 'Writer': 'James Cameron',
 'Year': '1997',
 'imdbID': 'tt0120338',
 'imdbRating': '7.8',
 'imdbVotes': '869,216'}

In [7]:
json_data['Title']

'Titanic'

In [8]:
json_data['Plot']

'A seventeen-year-old aristocrat falls in love with a kind but poor artist aboard the luxurious, ill-fated R.M.S. Titanic.'

In [9]:
json_data['imdbRating']

'7.8'

In [10]:
json_data['imdbVotes']

'869,216'

In [11]:
movie_list = ['titanic', 'pulp+fiction', 'The Godfather', 'inglorious+bastards', 'star+wars', 'rounders', 'the+social+network', 'The Shawshank Redemption']

In [12]:
query_url_list = [(url + 'apikey=' + api_key + '&' + 't=' + name) for name in movie_list]

In [13]:
plot_list = []
vote_list = []
title_list = []
for title in query_url_list:
    
    response = r.get(title)

    plot_data = response.json()['Plot']
    plot_list.append(plot_data)
    
    vote_data = response.json()['imdbVotes']
    vote_list.append(vote_data)
    
    title_data = response.json()['Title']
    title_list.append(title_data)
print(plot_list)
print(vote_list)
print(title_list)

['A seventeen-year-old aristocrat falls in love with a kind but poor artist aboard the luxurious, ill-fated R.M.S. Titanic.', "The lives of two mob hit men, a boxer, a gangster's wife, and a pair of diner bandits intertwine in four tales of violence and redemption.", 'The aging patriarch of an organized crime dynasty transfers control of his clandestine empire to his reluctant son.', 'In 1944 France, a group of escaped American military prisoners en route to Switzerland volunteers to steal a Nazi V2 rocket warhead for the Allies.', "Luke Skywalker joins forces with a Jedi Knight, a cocky pilot, a Wookiee, and two droids to save the galaxy from the Empire's world-destroying battle-station, while also attempting to rescue Princess Leia from the evil Darth Vader.", 'A young man is a reformed gambler who must return to playing big stakes poker to help a friend pay off loan sharks, while balancing his relationship with his girlfriend and his commitments to law school.', 'Harvard student Mark Zuckerberg creates the social networking site that would become known as Facebook, but is later sued by two brothers who claimed he stole their idea, and the co-founder who was later squeezed out of the business.', 'Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.']
['869,216', '1,471,678', '1,284,325', '7,791', '1,009,663', '128,674', '525,654', '1,874,788']
['Titanic', 'Pulp Fiction', 'The Godfather', 'The Inglorious Bastards', 'Star Wars: Episode IV - A New Hope', 'Rounders', 'The Social Network', 'The Shawshank Redemption']

In [14]:
movie_dict = {'plot': plot_list,
              'votes': vote_list,
              'titles': title_list}
movie_dict

{'plot': ['A seventeen-year-old aristocrat falls in love with a kind but poor artist aboard the luxurious, ill-fated R.M.S. Titanic.',
  "The lives of two mob hit men, a boxer, a gangster's wife, and a pair of diner bandits intertwine in four tales of violence and redemption.",
  'The aging patriarch of an organized crime dynasty transfers control of his clandestine empire to his reluctant son.',
  'In 1944 France, a group of escaped American military prisoners en route to Switzerland volunteers to steal a Nazi V2 rocket warhead for the Allies.',
  "Luke Skywalker joins forces with a Jedi Knight, a cocky pilot, a Wookiee, and two droids to save the galaxy from the Empire's world-destroying battle-station, while also attempting to rescue Princess Leia from the evil Darth Vader.",
  'A young man is a reformed gambler who must return to playing big stakes poker to help a friend pay off loan sharks, while balancing his relationship with his girlfriend and his commitments to law school.',
  'Harvard student Mark Zuckerberg creates the social networking site that would become known as Facebook, but is later sued by two brothers who claimed he stole their idea, and the co-founder who was later squeezed out of the business.',
  'Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.'],
 'titles': ['Titanic',
  'Pulp Fiction',
  'The Godfather',
  'The Inglorious Bastards',
  'Star Wars: Episode IV - A New Hope',
  'Rounders',
  'The Social Network',
  'The Shawshank Redemption'],
 'votes': ['869,216',
  '1,471,678',
  '1,284,325',
  '7,791',
  '1,009,663',
  '128,674',
  '525,654',
  '1,874,788']}

In [15]:
df = pd.DataFrame(movie_dict)
df

,plot,titles,votes
0,A seventeen-year-old aristocrat falls in love ...,Titanic,"869,216"
1,"The lives of two mob hit men, a boxer, a gangs...",Pulp Fiction,"1,471,678"
2,The aging patriarch of an organized crime dyna...,The Godfather,"1,284,325"
3,"In 1944 France, a group of escaped American mi...",The Inglorious Bastards,"7,791"
4,Luke Skywalker joins forces with a Jedi Knight...,Star Wars: Episode IV - A New Hope,"1,009,663"
5,A young man is a reformed gambler who must ret...,Rounders,"128,674"
6,Harvard student Mark Zuckerberg creates the so...,The Social Network,"525,654"
7,Two imprisoned men bond over a number of years...,The Shawshank Redemption,"1,874,788"

# Instructions

Use the OMDb API to retrieve and print the following information.

* Who was the director of the movie **Aliens**?

* What was the movie **Gladiator** rated?

* What year was **50 First Dates** released? 

* Who wrote **Moana**?

* What was the plot of the movie **Sing**?

In [16]:
movie_list = ['aliens', 'gladiator', '50 first dates', 'moana', 'sing']
query_url = [(url + 'apikey=' + api_key + '&' + 't=' + name) for name in movie_list]

In [17]:
dir_list = []
rating_list = []
year_list = []
writer_list = []
plot_list = []

for name in query_url:
    response = r.get(name)
    dir_list.append(response.json()['Director'])
    rating_list.append(response.json()['Rated'])
    year_list.append(response.json()['Year'])
    writer_list.append(response.json()['Writer'])
    plot_list.append(response.json()['Plot'])

In [18]:
movie_dict = {'director': dir_list,
         'rating': rating_list,
         'year': year_list,
        'writer': writer_list,
             'plot': plot_list}

In [19]:
df = pd.DataFrame(movie_dict)
df

,director,plot,rating,writer,year
0,James Cameron,"57 years later, Ellen Ripley is rescued by a d...",R,"James Cameron (story by), David Giler (story b...",1986
1,Ridley Scott,"When a Roman General is betrayed, and his fami...",R,"David Franzoni (story), David Franzoni (screen...",2000
2,Peter Segal,Henry Roth is a man afraid of commitment up un...,PG-13,George Wing,2004
3,"Ron Clements, John Musker, Don Hall(co-directo...","In Ancient Polynesia, when a terrible curse in...",PG,"Jared Bush (screenplay by), Ron Clements (stor...",2016
4,"Garth Jennings, Christophe Lourdelet(co-director)","In a city of humanoid animals, a hustling thea...",PG,Garth Jennings,2016

# Instructions

Consider the following list of movie titles.

```python
movies = ["Aliens", "Sing", "Moana"]
```

Make a request to the OMDb API for each movie in the list. Then:

1. Print the director of each movie

2. Save the responses in another list

In [20]:
movies = ["Aliens", "Sing", "Moana"]
query_url = [(url + 'apikey=' + api_key + '&' + 't=' + name) for name in movies]
query_url

['http://www.omdbapi.com/?apikey=7c44b61b&t=Aliens',
 'http://www.omdbapi.com/?apikey=7c44b61b&t=Sing',
 'http://www.omdbapi.com/?apikey=7c44b61b&t=Moana']

In [21]:
dir_list = []
for name in query_url:
    response = r.get(name)
    dir_list.append(response.json()['Director'])
dir_list

['James Cameron',
 'Garth Jennings, Christophe Lourdelet(co-director)',
 'Ron Clements, John Musker, Don Hall(co-director), Chris Williams(co-director)']