# Requests & Responses

This activity provides practice making API calls, converting the response to JSON, and then manipulating the result with Python.

## Instructions

* Make a request to the following endpoint (http://nyt-mongo-scraper.herokuapp.com/api/headlines), and store the response.

* JSON-ify the response.

* Print the JSON representations of the first and last posts.

* Print number of posts received.

In [1]:
import json
import pandas as pd
import requests as r

In [2]:
url = 'http://nyt-mongo-scraper.herokuapp.com/api/headlines'

In [21]:
response = r.get(url)
response_data = response.json()
response_data[0]

{'_id': '5a370ea690e5c50011298b8a',
 'date': '12_18_2017',
 'headline': 'Homes That Sold for Around $1 Million',
 'saved': False,
 'summary': 'Recent residential sales in New York City and the region.',
 'url': 'https://www.nytimes.com/2017/12/17/realestate/home-sales-nyc.html'}

In [11]:
first_headline = response_data[0]['headline']
first_headline

'Homes That Sold for Around $1 Million'

In [12]:
last_headline = response_data[-1]['headline']
last_headline

'Imam Who Forged Barcelona Cell Long Evaded Scrutiny'

In [13]:
len(response_data)

4258

In [23]:
headline_list = [name['headline'] for name in response_data]
headline_url = [name['url'] for name in response_data]
headline_dict = {'headline_name': headline_list, 'url': headline_url}

In [25]:
df = pd.DataFrame(headline_dict)
df.head()

,headline_name,url
0,Homes That Sold for Around $1 Million,https://www.nytimes.com/2017/12/17/realestate/...
1,Can the International Criminal Court Be Saved ...,https://www.nytimes.com/2017/12/17/opinion/icc...
2,Warren and Sanders: Who Is Congress Really Ser...,https://www.nytimes.com/2017/12/17/opinion/war...
3,Columnists’ Book Club,https://www.nytimes.com/interactive/2017/12/14...
4,Australian Tried to Sell Missile Parts for Nor...,https://www.nytimes.com/2017/12/17/world/austr...