## Step 4 - Climate App

Now that you have completed your initial analysis, design a Flask api based on the queries that you have just developed.

* Use FLASK to create your routes.

### Routes

* `/api/v1.0/precipitation`

  * Query for the dates and temperature observations from the last year.

  * Convert the query results to a Dictionary using `date` as the key and `tobs` as the value.

  * Return the json representation of your dictionary.

* `/api/v1.0/stations`

  * Return a json list of stations from the dataset.

* `/api/v1.0/tobs`

  * Return a json list of Temperature Observations (tobs) for the previous year

* `/api/v1.0/<start>` and `/api/v1.0/<start>/<end>`

  * Return a json list of the minimum temperature, the average temperature, and the max temperature for a given start or start-end range.

  * When given the start only, calculate `TMIN`, `TAVG`, and `TMAX` for all dates greater than and equal to the start date.

  * When given the start and the end date, calculate the `TMIN`, `TAVG`, and `TMAX` for dates between the start and end date inclusive.

## Hints

* You will need to join the station and measurement tables for some of the analysis queries.

* Use Flask `jsonify` to convert your api data into a valid json response object.

In [2]:
import datetime 
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from flask import Flask, jsonify

In [5]:
connection_string = 'sqlite:///hawaii.sqlite'
engine = create_engine(connection_string)

In [6]:
Base = automap_base()

In [8]:
Base.prepare(engine, reflect = True)

In [9]:
Hawaii = Base.classes.hawaii_data
session = Session(engine)

In [10]:
first_row = session.query(Hawaii).first()

In [11]:
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1085814a8>,
 'date_format': datetime.datetime(2010, 1, 1, 0, 0),
 'day': 1,
 'elevation': 3,
 'id': 1,
 'latitude': 21.2716,
 'longitude': -157.8168,
 'month': 1,
 'name': 'WAIKIKI 717.2, HI US',
 'prcp': 0.08,
 'station': 'USC00519397',
 'tobs': 65,
 'year': 2010}

In [18]:
app = Flask(__name__)

In [19]:
@app.route('/')
def index():
    """Welcome.  These are all of the available API routes"""
    
    return(f"Available Routes:<br>"
           f"/api/v1.0/precipitation"
           f"/api/v1.0/stations<br>"  
           f"/api/v1.0/tobs<br>"  
           f"/api/v1.0/<start> and /api/v1.0/<start>/<end><br>")

In [ ]:
@app.route('/api/v1.0/precipitation')
def precipitation():
    results = session.query(Hawaii).all

In [20]:
#Need to convert SQL query into a ORM query.

#query = """
#        select * 
#        from hawaii_data 
#        WHERE (date_format BETWEEN '2016-08-23 00:00:00.000000' AND '2017-08-23 00:00:00.000000')
#        """