## Step 4 - Climate App

Now that you have completed your initial analysis, design a Flask api based on the queries that you have just developed.

* Use FLASK to create your routes.

### Routes

* `/api/v1.0/precipitation`

  * Query for the dates and temperature observations from the last year.

  * Convert the query results to a Dictionary using `date` as the key and `tobs` as the value.

  * Return the json representation of your dictionary.

* `/api/v1.0/stations`

  * Return a json list of stations from the dataset.

* `/api/v1.0/tobs`

  * Return a json list of Temperature Observations (tobs) for the previous year

* `/api/v1.0/<start>` and `/api/v1.0/<start>/<end>`

  * Return a json list of the minimum temperature, the average temperature, and the max temperature for a given start or start-end range.

  * When given the start only, calculate `TMIN`, `TAVG`, and `TMAX` for all dates greater than and equal to the start date.

  * When given the start and the end date, calculate the `TMIN`, `TAVG`, and `TMAX` for dates between the start and end date inclusive.

## Hints

* You will need to join the station and measurement tables for some of the analysis queries.

* Use Flask `jsonify` to convert your api data into a valid json response object.

In [109]:
from datetime import datetime, timedelta
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from flask import Flask, jsonify

In [110]:
connection_string = 'sqlite:///hawaii.sqlite'
engine = create_engine(connection_string)

In [111]:
Base = automap_base()

In [112]:
Base.prepare(engine, reflect = True)

In [113]:
Hawaii = Base.classes.hawaii_data
session = Session(engine)

In [114]:
first_row = session.query(Hawaii).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x11325d198>,
 'date_format': datetime.datetime(2010, 1, 1, 0, 0),
 'day': 1,
 'elevation': 3,
 'id': 1,
 'latitude': 21.2716,
 'longitude': -157.8168,
 'month': 1,
 'name': 'WAIKIKI 717.2, HI US',
 'prcp': 0.08,
 'station': 'USC00519397',
 'tobs': 65,
 'year': 2010}

In [115]:
#Query to return the most active stations.
#http://docs.sqlalchemy.org/en/latest/orm/query.html

active_query = session.query(Hawaii.name, func.count(Hawaii.tobs)).group_by(Hawaii.name).order_by(Hawaii.tobs.desc()).all()

In [131]:
from datetime import datetime, timedelta
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from flask import Flask, jsonify

app = Flask(__name__)

@app.route('/api/v1.0/stations')
def stations():
    results = list(np.ravel(session.query(Hawaii.name).all()))
    return jsonify(results)

if __name__ == "__main__":
    app.run(debug=True)

In [117]:
# https://stackoverflow.com/questions/1958219/convert-sqlalchemy-row-object-to-python-dict/10370224
#AttributeError: 'result' object has no attribute '__dict__'
active_list = []
for i in active_query:
    active_list.append(i.__dict__)

AttributeError: 'result' object has no attribute '__dict__'

In [118]:
#https://stackoverflow.com/questions/19110164/dumping-sqlalchemy-output-to-json
#AttributeError: 'result' object has no attribute '__dict__'
active_list = [i.__dict__ for i in active_query]

AttributeError: 'result' object has no attribute '__dict__'

In [119]:
#Query to return all of the temp from 'Waihee' during 2016-08-23 and 2017-08-23.

query_temp = session.query(Hawaii.name, Hawaii.tobs, Hawaii.date_format).\
                filter(Hawaii.name == 'WAIHEE 837.5, HI US').\
                filter(Hawaii.date_format.between('2016-08-23 00:00:00.000000', '2017-08-23 00:00:00.000000')).all()

In [120]:
#Query to take two dates and return all of the temp from the previous year from all statios

def get_temp(early_date_str, late_date_str):
    from datetime import datetime, timedelta
    early_date_dt = datetime.strptime(early_date_str, '%Y-%m-%d')
    late_date_dt = datetime.strptime(late_date_str, '%Y-%m-%d')
    early_date = early_date_dt + timedelta(days=-365)
    late_date = late_date_dt + timedelta(days=-365)
    ave_temp = session.query(func.avg(Hawaii.tobs)).filter(Hawaii.date_format.between(early_date, late_date)).all()
    max_temp = session.query(func.max(Hawaii.tobs)).filter(Hawaii.date_format.between(early_date, late_date)).all()
    min_temp = session.query(func.min(Hawaii.tobs)).filter(Hawaii.date_format.between(early_date, late_date)).all()
    delta_temp = session.query(func.max(Hawaii.tobs) - func.min(Hawaii.tobs)).filter(Hawaii.date_format.between(early_date, late_date)).all()
    return ave_temp, max_temp, min_temp, delta_temp

In [121]:
get_temp('2017-08-01', '2017-08-12')

([(78.21518987341773)], [(83)], [(71)], [(12)])

In [122]:
#Query to return one year's worth of prcp data.
#Function does a groupby for each day and sums across all four stations.

#https://stackoverflow.com/questions/25558582/groupby-and-sum-in-sqlalchemy
#https://stackoverflow.com/questions/8895208/sqlalchemy-how-to-filter-date-field


prcp_query = session.query(Hawaii.date_format, func.sum(Hawaii.prcp)).\
            filter(Hawaii.date_format.between('2016-08-23 00:00:00.000000', '2017-08-23 00:00:00.000000'))\
            .group_by(Hawaii.date_format).first()