## Step 2 - Database Engineering

Use SQLAlchemy to model your table schemas and create a sqlite database for your tables. You will need one table for measurements and one for stations.

* Create a Jupyter Notebook called `database_engineering.ipynb` and use this to complete all of your Database Engineering work.

* Use Pandas to read your cleaned measurements and stations CSV data.

* Use the `engine` and connection string to create a database called `hawaii.sqlite`.

* Use `declarative_base` and create ORM classes for each table.

  * You will need a class for `Measurement` and for `Station`.

  * Make sure to define your primary keys.

* Once you have your ORM classes defined, create the tables in the database using `create_all`.

---

In [2]:
!rm hawaii.sqlite

rm: hawaii.sqlite: No such file or directory

In [3]:
import sqlalchemy
import pandas as pd
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [4]:
engine = create_engine("sqlite:///hawaii.sqlite")

In [5]:
conn = engine.connect()

In [6]:
Base = declarative_base()

In [7]:
class Data(Base):
    __tablename__ = 'hawaii_data'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    name = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Integer)
    date = Column(String)
    prcp = Column(Float)
    tobs = Column(Integer)
    month = Column(Integer)
    day = Column(Integer)
    year = Column(Integer)
    
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [8]:
Base.metadata.create_all(engine)

In [9]:
data = pd.read_csv('data.csv')

In [10]:
data.head()

,station,name,latitude,longitude,elevation,date,prcp,tobs,month,day,year
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,1/1/10,0.080000,65,1,1,2010
1,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,1/2/10,0.000000,63,1,2,2010
2,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,1/3/10,0.000000,74,1,3,2010
3,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,1/4/10,0.000000,76,1,4,2010
4,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,1/6/10,0.040086,73,1,6,2010

In [11]:
data_dict = data.to_dict(orient='records')

In [12]:
data_dict[:5]

[{'date': '1/1/10',
  'day': 1,
  'elevation': 3.0,
  'latitude': 21.2716,
  'longitude': -157.8168,
  'month': 1,
  'name': 'WAIKIKI 717.2, HI US',
  'prcp': 0.08,
  'station': 'USC00519397',
  'tobs': 65,
  'year': 2010},
 {'date': '1/2/10',
  'day': 2,
  'elevation': 3.0,
  'latitude': 21.2716,
  'longitude': -157.8168,
  'month': 1,
  'name': 'WAIKIKI 717.2, HI US',
  'prcp': 0.0,
  'station': 'USC00519397',
  'tobs': 63,
  'year': 2010},
 {'date': '1/3/10',
  'day': 3,
  'elevation': 3.0,
  'latitude': 21.2716,
  'longitude': -157.8168,
  'month': 1,
  'name': 'WAIKIKI 717.2, HI US',
  'prcp': 0.0,
  'station': 'USC00519397',
  'tobs': 74,
  'year': 2010},
 {'date': '1/4/10',
  'day': 4,
  'elevation': 3.0,
  'latitude': 21.2716,
  'longitude': -157.8168,
  'month': 1,
  'name': 'WAIKIKI 717.2, HI US',
  'prcp': 0.0,
  'station': 'USC00519397',
  'tobs': 76,
  'year': 2010},
 {'date': '1/6/10',
  'day': 6,
  'elevation': 3.0,
  'latitude': 21.2716,
  'longitude': -157.8168,
  'month': 1,
  'name': 'WAIKIKI 717.2, HI US',
  'prcp': 0.040085837,
  'station': 'USC00519397',
  'tobs': 73,
  'year': 2010}]

In [13]:
metadata = MetaData(bind = engine)
metadata.reflect()

In [14]:
table = sqlalchemy.Table('hawaii_data', metadata, autoload=True)

In [15]:
conn.execute(table.delete())

In [16]:
conn.execute(table.insert(), data_dict)

In [17]:
conn.execute("select * from hawaii_data limit 20").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3, '1/1/10', 0.08, 65, 1, 1, 2010),
 (2, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3, '1/2/10', 0.0, 63, 1, 2, 2010),
 (3, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3, '1/3/10', 0.0, 74, 1, 3, 2010),
 (4, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3, '1/4/10', 0.0, 76, 1, 4, 2010),
 (5, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3, '1/6/10', 0.040085837, 73, 1, 6, 2010),
 (6, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3, '1/7/10', 0.06, 70, 1, 7, 2010),
 (7, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3, '1/8/10', 0.0, 64, 1, 8, 2010),
 (8, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3, '1/9/10', 0.0, 68, 1, 9, 2010),
 (9, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3, '1/10/10', 0.0, 73, 1, 10, 2010),
 (10, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3, '1/11/10', 0.01, 64, 1, 11, 2010),
 (11, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3, '1/12/10', 0.0, 61, 1, 12, 2010),
 (12, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3, '1/14/10', 0.0, 66, 1, 14, 2010),
 (13, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3, '1/15/10', 0.0, 65, 1, 15, 2010),
 (14, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3, '1/16/10', 0.0, 68, 1, 16, 2010),
 (15, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3, '1/17/10', 0.0, 64, 1, 17, 2010),
 (16, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3, '1/18/10', 0.0, 72, 1, 18, 2010),
 (17, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3, '1/19/10', 0.0, 66, 1, 19, 2010),
 (18, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3, '1/20/10', 0.0, 66, 1, 20, 2010),
 (19, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3, '1/21/10', 0.0, 69, 1, 21, 2010),
 (20, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3, '1/22/10', 0.0, 67, 1, 22, 2010)]